@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    font-family: "mainfont", serif;
    transition: all ease 0.3s;
}

@font-face {
    font-family: starfont;
    src: url(./assets/font/lousiefont.ttf);
}

@font-face {
    font-family: mainfont;
    src: url(./assets/font/OPTIMA.ttf);
}


.starfont {
    font-family: starfont;
    letter-spacing: 2px;
    font-weight: 300;
}

.accentfont {
    font-family: "Outfit", sans-serif !important;
    font-weight: 300;
}

.themebg {
    background-color: #ece4d9;
    color: #574d41;
}

.themecolorfont {
    color: #ece4d9;
}

.bgcolorfont {
    color: #574d41;
}

.brownbg {
    background-color: #574d41;
    color: #ece4d9;
}

.accentbg {
    background-color: #ece4d9;
    color: #574d41;
}

.section {
    @apply flex items-center flex-col
}

.perfectbg {
    @apply bg-contain bg-no-repeat bg-center
}

.btn {
    @apply bg-[#574d41] border border-[#574d41] hover:bg-transparent hover:text-[#574d41] flex justify-center items-center gap-2 px-5 py-3 text-[#ece4d9]
}

.btnlight {
    @apply bg-[#ece4d9] border border-[#ece4d9] hover:bg-transparent hover:border-[#574d41] hover:text-[#574d41] flex justify-center items-center gap-2 px-5 py-3 text-[#574d41]
}

.row {
    @apply flex justify-center items-center max-sm:flex-col w-full h-full p-20 max-sm:p-3 max-sm:py-10 gap-4
}



.rowPadding {
    @apply flex justify-center items-center max-sm:flex-col w-full h-full p-20 pt-0 max-sm:p-3 gap-4
}

.dotted-map {
    max-width: 100%;
    overflow: hidden;
}