@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    font-family: "mainfont", serif;
    transition: all ease 0.3s;
}

@font-face {
    font-family: starfont;
    src: url(./assets/font/lousiefont.ttf);
}

@font-face {
    font-family: mainfont;
    src: url(./assets/font/OPTIMA.ttf);
}


.starfont {
    font-family: starfont;
    letter-spacing: 2px;
    font-weight: 300;
}

section {
    max-width: 2000px;
    margin: 0 auto;
}

.accentfont {
    font-family: "Outfit", sans-serif !important;
    font-weight: 300;
}

.themebg {
    background-color: #ece4d9;
    color: #574d41;
}

.themecolorfont {
    color: #ece4d9;
}


.bgcolorfont {
    color: #574d41 !important;
}

.brownbg {
    background-color: #574d41;
    color: #ece4d9;
}

.accentbg {
    background-color: #ece4d9;
    color: #574d41;
}

.accenttextimp {
   
    color: #ece4d9 !important;
}

.section {
    @apply flex items-center flex-col
}

.perfectbg {
    @apply bg-contain bg-no-repeat bg-center
}

.btn {
    @apply bg-[#574d41] border border-[#574d41] hover:bg-transparent hover:text-[#574d41] flex justify-center items-center gap-2 px-5 py-3 text-[#ece4d9] capitalize
}

.btnlight {
    @apply bg-[#ece4d9] border border-[#ece4d9] hover:bg-transparent hover:border-[#574d41] hover:text-[#574d41] flex justify-center items-center gap-2 px-5 py-3 text-[#574d41]
}

.input {
  @apply p-2 border border-gray-300 ;
}

.smallbtn {
    @apply bg-[#574d41] border border-[#574d41] hover:bg-transparent max-sm:text-sm hover:text-[#574d41] flex justify-center items-center gap-2 px-5 py-3 max-sm:px-3 max-sm:py-2 text-[#ece4d9] capitalize
}

.row {
    @apply flex justify-center items-center max-sm:flex-col w-full h-full p-20 max-sm:p-3 max-sm:pt-10  max-sm:pb-0 gap-4
}


.rownopad {
    @apply flex justify-center items-center max-sm:flex-col w-full h-full p-20 max-sm:p-3 pb-0 max-sm:pt-10 max-sm:pb-0 gap-4
}

.rowPadding {
    @apply flex justify-center items-center max-sm:flex-col w-full h-full p-20 pb-0 max-sm:p-3 max-sm:pb-0 gap-4
}

.dotted-map {
    max-width: 100%;
    overflow: hidden;
}

@keyframes radialGradientFade {
  0% {
    background: radial-gradient(circle, white 0%, #ece4d9 100%);
  }
  50% {
    background: radial-gradient(circle, #ece4d9 0%, white 100%);
  }
  100% {
    background: radial-gradient(circle, white 0%, #ece4d9 100%);
  }
}

.radial-gradient-animated {
  animation: radialGradientFade 6s ease-in-out infinite;
  background-size: 150% 150%;
}

.background {
    background-color: #ffffffa1;
}